{% extends 'base.html' %} {% load static %} {% block content %} {% csrf_token %}

<body>
  <div class="container-profile">
    <div class="d-flex justify-content-center h-100">
      <div class="image_outer_container">
        <!-- <div class="green_icon"></div> -->
        <div class="image_inner_container">
          <img
            src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg"
          />
        </div>
      </div>
    </div>
    <tbody>
    <div class="card-action">
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr><a href="#">Edit Profile</a>
      <a href="#">Edit Posts</a>
      <a href="#">Edit Profile</a>
      <a href="#">Delete</a>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Save</button>
      </form>
</tbody>
      <h2>Name</h2>
      <hr />
      <h4>Location</h4>
      <hr />
      <em>Date Joined</em>
    </div>
  </div>
</body>
{% endblock %}
