nav {
  background-color: rebeccapurple;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.83);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.83);}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.position{
margin-left: 215px;
}

.article {
  margin: 10px;;
  float: left;
  margin-right: 100px;
}

.page-footer {
  background-color: rebeccapurple;
  padding-top: 0;
  height: 40px;
}

main {
  flex: 1 0 auto;
  min-height: 90vh;
}

footer {
  padding-top: 10px;
  text-align: right;
}

.container {
  margin-top: 5%;
  text-align: center;
}
