nav {
  background-color: rebeccapurple;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.83);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.83);}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.position{
margin-left: 215px;
}

.article {
  margin: 10px;;
  float: left;
  margin-right: 100px;
}

.page-footer {
  background-color: rebeccapurple;
  padding-top: 0;
  height: 40px;
}

main {
  flex: 1 0 auto;
  min-height: 90vh;
}

footer {
  padding-top: 10px;
  text-align: right;
}

.container {
  margin-top: 5%;
  text-align: center;
}
/*----- Profile Detail Page -----*/
.container-profile {
  height: 100%;
  align-content: center;
}

.image_outer_container {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  position: relative;
}

.image_inner_container {
  border-radius: 50%;
  padding: 5px;
  background: #833ab4;
  background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
}

.image_outer_container .green_icon {
  background-color: #4cd137;
  position: absolute;
  right: 30px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  border: 5px solid white;
  border-radius: 50%;
}
/*----- End Profile Detail Page -----*/
