{% extends 'base.html' %}
{% block content %}
  <h1>New Post</h1>

  {% comment %}
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Post</button>
  </form>
  {% endcomment %}


  <form action="{% url 'post_add' %}" method="POST">
    {% csrf_token %}
    <div>
      <label for="title">Title</label>
      <input type="text" name="title">
    </div>
    <div>
      <label for="body">Body</label>
      <textarea name="body"></textarea>
    </div>
    <div>
      <label for="city">City</label>
      <input type="number" name="city">
    </div>
    <button type="submit">Add New Post</button>
  </form>

{% endblock %}
