{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wayfair</title>
    <!-- Materialize -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    /> -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.min.js"
    />
    <!-- Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Inter&family=Josefin+Sans:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar-fixed">
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo" id="color"
                >&nbsp;&nbsp;Wayfair</a
              >
            </li>
          </ul>
          <ul class="right">
            <li><a href="/about">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="/user/1">Profile</a></li>

            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <!--Mask-->
      <div id="in" class="view">
        <div class="mask rgba-black-strong">
          <div
            class="container-fluid d-flex align-items-center justify-content-center h-100"
          >
            <div class="row d-flex justify-content-center text-center">
              <div class="col-md-10">
                <!-- Heading -->
                <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                  Travel
                </h2>

                <!-- Divider -->
                <hr class="hr-light" />

                <!-- Description -->
                <h4 class="white-text my-4">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti consequuntur.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.Mask-->
    </header>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="page-footer">
      <div class="right">All Rights Reserved, &copy; 2020 Wayfair &nbsp;</div>
    </footer>
  </body>
</html>
