{% extends 'base.html' %} {% block content %}
<div class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/1000x350" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/1920x300" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/1440x120" class="d-block w-100">
      </div>
    </div>
  </div>

</div>

<h2>What we are</h2>
<div class="position">
  <div class="article">
    <h3>tile</h3>
    <article>sjvbjsvbjsdv</article>
  </div>
  <div class="article">
    <h3>tile</h3>
    <article>sjvbjsvbjsdv</article>
  </div>
  <div class="article">
    <h3>tile</h3>
    <article>sjvbjsvbjsdv</article>
  </div>
</div>
{% endblock %}
