{% extends 'base.html' %} {% block content %}

<img
  src="https://images.unsplash.com/photo-1583591900414-7031eb309cb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
/>

<h2>What we are</h2>
<div class="position">
  <div class="article">
    <h3>tile</h3>
    <article>sjvbjsvbjsdv</article>
  </div>
  <div class="article">
    <h3>tile</h3>
    <article>sjvbjsvbjsdv</article>
  </div>
  <div class="article">
    <h3>tile</h3>
    <article>sjvbjsvbjsdv</article>
  </div>
</div>
{% endblock %}
